{% comment %} {%extends 'main.html'%}
{%block content%}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <title>Dashboard | EventEase </title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="p-3 m-0 border-0 bd-example m-0 border-0"> 
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
    <div class="card text-bg-primary mb-3" style="max-width: 18rem;">
    <div class="card-header">EventEase</div>
    <div class="card-body">
      <h5 class="card-title">ALL APPLICATIONS</h5>
      <p class="card-text">View your past approved applications</p>
    </div>
  </div>
    </div>
    <div class="col">
    <div class="card text-bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">EventEase</div>
    <div class="card-body">
      <h5 class="card-title">NEW APPLICATIONS</h5>
      <p class="card-text">View recent applications for approval</p>
    </div>
  </div>
    </div>
    <div class="col">
    <div class="card text-bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">EventEase</div>
    <div class="card-body">
      <h5 class="card-title">PENDING APPLICATIONS</h5>
      <p class="card-text">View applications that require changes</p>
    </div>
  </div>
    </div>
    <div class="col">
    <div class="card text-bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">EventEase</div>
    <div class="card-body">
      <h5 class="card-title">REJECTED APPLICATIONS</h5>
      <p class="card-text">View sent back application. Check comments for changes suggested or contact the in-charge.</p>
    </div>
  </div>
    </div>
  </div>
</body>
{%endblock%} {% endcomment %}

you are not authorised to view this