{%extends 'main.html'%}
{%block content%}
<h1>  NEW EVENT FOR REVIEW </h1>
  <h2>Agnethon</h2>
  <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  <p>Club: CSI</p>
  <p>Date: 25/02/2024</p>
  <p>Faculty: </p>
  <p>Days: 2</p>
  <p>Cost: -</p>
  <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
  <p>Highlight Event: 36hr Hackathon</p>
  <p>Intake: 50</p>
  <br>
  <input type="submit" value="APPROVE">
  {%endblock%}